@import "colors";

html,
body {
    padding: 0;
    margin: 0;
    background: $background-color;
    overflow-x: hidden;
}

::selection {
    background: rgba(175, 204, 255, 0.25);
}

* {
    color: white;
    font-family: 'Clash Display', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .main {
        flex: 1;
        padding: 1rem;
        padding-bottom: 84px;
    }

    .footer {
        z-index: 10;
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 84px;
        border-top: 1px solid $highlight-color;
        background-color: $background-color;

        a,
        button {
            display: flex;
            min-width: 96px;
            border: none;
            outline: none;
            border-right: 1px solid $highlight-color;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 24px;
            text-transform: uppercase;
            background: transparent;
            text-decoration: none;

            &.right-aligned-button {
                border-right: none;
                margin-left: auto;
                border-right: none;
                border-left: 1px solid $highlight-color;
            }

            &:hover {
                color: $background-color;
                background: $highlight-color;
            }

            &.active {
                color: $background-color;
                background-color: $highlight-color;
            }
        }

        .dashboard-login-board {
            position: absolute;
            border-left: solid 1px $highlight-color;
            border-top: solid 1px $highlight-color;
            border-bottom: solid 1px $highlight-color;
            background: $background-color;
            right: 0;
            bottom: 84px;
            width: 400px;
            height: 196px;

            z-index: -1;

            opacity: 0;
            pointer-events: none;
            transform: translateX(196px);
            transition: transform 0.3s ease, opacity 0.3s ease;
            display: flex;
            align-items: center;
            height: 100px;

            &.active {
                opacity: 1;
                pointer-events: auto;
                transform: translateY(0px);
            }

            div {
                margin: 24px;
                width: 100%;
                display: flex;
                gap: 8px;

                input {
                    flex: 1;
                    background-color: $background-color;
                    border: 1px solid $highlight-color;
                    margin: 4px;
                    padding: 6px 8px;
                    outline: none;
                    opacity: 0.45;
                    text-transform: uppercase;

                    transition: 0.2s;

                    &:focus {
                        opacity: 1;
                    }

                    &:disabled {
                        opacity: 0.25;
                    }
                }

                button {
                    margin: 4px;
                    display: inline-block;
                    background: $background-color;
                    color: #afccfa;
                    border: 1px solid $highlight-color;
                    padding: 6px 8px;

                    opacity: 0.45;

                    transition: 0.2s;

                    &:not(:disabled):hover {
                        opacity: 1;
                        background-color: $highlight-color;
                        color: $background-color;
                    }

                    &:disabled {
                        opacity: 0.25;

                        &:hover {
                            color: #afccfa;
                        }
                    }
                }
            }

        }
    }
}

.main-page-content {
    margin: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 52px;
        max-width: 50%;
        padding: 0;
        margin: 0;
        color: $highlight-color;
    }
}

.central-content {
    margin: 0 auto;
    width: 75%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $highlight-color;
    }

    .slim-content {
        max-width: 70%;

        p {
            text-justify: inter-word;
        }
    }
}

.page {
    position: relative;
    overflow: hidden;
}

p>a {
    padding: 0 4px;
    color: $highlight-color;

    &:hover {
        background: $highlight-color;
        color: $background-color;
        text-decoration: none;
    }
}

.card
{
    padding: 16px;
    background: $slightly-darker-background-color;
    border: 1px solid $slightly-darker-background-color-highlight;
    border-radius: 8px;

    &.inline
    {
        display: inline-block;
    }

    .header
    {
        p
        {
            padding: 0;
            padding-bottom: 16px;
            margin: 0;
            font-size: 18px;
            font-weight: 600;
        }

        .delimiter
        {
            width: 100%;
            height: 1px;
            background: $slightly-darker-background-color-highlight;
            margin-bottom: 24px;
        }
    }
}

.flex-block
{
    display: flex;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.just-a-block
{
    display: block;
}